{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferences</title>
</head>
<body>
    {% block content %}
    <div class="prefs">
        <h1 class="header">Choose your meeting preference </h1>
        <br>
        <a class="btn btn-primary w-25 p-3"  id="start" href="{{ url_for('groupPage') }}">Group Setting</a>

        <a class="btn btn-primary w-25 p-3"  id="start" href="{{ url_for('soloPage') }}">1-on-1 Meeting</a>
    </div>
{% endblock %}
</body>
</html>

{% block style %} 
{{ super() }} 


.prefs
{
    text-align:center;
    margin-top:300px;
    font-weight: bold !important;
    color: #034295;
}

.title
{
    font-size:40px;
    font-weight: bolder;
    color: #034295;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.prefs {
    text-align: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}



.btn
{
    font-weight: bold;
    background-color: #034295;
    margin:20px;
    font-size: 30px;
    border-radius: 20px;

}

.choose
{
    align-items: center;
}

.header
{
    color: #034295;
    text-align:center;
}

{% endblock %}



{% endblock %}

